/* http://www.colourlovers.com/palette/1757443/Kloucek_Energy_Socks */
$dark: #260D0D;
$light: #FFEFB5;
$dark-orange: #FF4000;
$light-orange: #FFC803;
$dark-green: #319190;
$white: #ffffff;
$black: #333333;

$primary-color: $dark-orange;
$secondary-color: $dark-green;

$small-pad: 10px;
$pad: 20px;
$big-pad: 50px;

$font-stack: Roboto, "Open Sans", Sans;

$app-height: 600px;
$app-width: 800px;

$tab-height: 30px;
$plan-width: 300px;
$map-height: 400px;
