* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?ujw5cl');
    src: url('../fonts/icomoon.eot?#iefixujw5cl') format('embedded-opentype'),
    url('../fonts/icomoon.woff?ujw5cl') format('woff'),
    url('../fonts/icomoon.ttf?ujw5cl') format('truetype'),
    url('../fonts/icomoon.svg?ujw5cl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-done:before {
    content: "\e600";
}

.icon-favorite:before {
    content: "\e601";
}

.icon-location-on:before {
    content: "\e602";
}

.icon-add:before {
    content: "\e603";
}

.icon-clear:before {
    content: "\e604";
}

.icon-create:before {
    content: "\e605";
}

.icon-undo:before {
    content: "\e606";
}

.icon-arrow-down:before {
    content: "\e607";
}

.icon-adjust:before {
    content: "\e608";
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", "open sans", sans-serif;
    font-size: 100%;
    min-height: 100%;
    background-color: #eeeeee;
    color: #333333;
}

.map {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.route-plan {
    position: absolute;
    width: 300px;
    height: 500px;
    right: 50px;
    top: 100px;
    padding: 20px;
    background-color: #ffffff;
    z-index: 20;
    overflow: scroll;
}

.way-points {
    border-left: 1px solid #dddddd;
    padding-left: 20px;
    margin-bottom: 10px;
}

.way-point {
    position: relative;
    padding: 3px 0;
    cursor: text;
}

.way-point:last-child {
    padding-bottom: 0;
}

.way-point .viewing {
    border-bottom: 1px solid #dddddd;
    padding: 3px 0;
}

.way-point .marker {
    position: absolute;
    left: -28px;
    top: 5px;
    color: #000000;
}

.way-point .editing {
    border-bottom: 1px solid #000000;
    padding: 3px 0;
}

.editing input[type='text'] {
    border: none;
    font-size: 1rem;
    outline: none;
    padding-right: 50px;
    width: 100%;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
}

.viewing .actions {
    display: none;
}

.viewing:hover .actions {
    display: inline-block;
}

.viewing .way-point-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
    padding-right: 50px;
}

.actions a {
    text-decoration: none;
    color: #666666;
    font-size: 1.2rem;
}

.actions a:hover {
    color: #000000;
}

ul.actions li {
    display: inline-block;
    margin-left: 5px;
}

.route-info {
    font-size: .8rem;
    color: #333333;
    padding: 10px;
    font-weight: 100;
}

.route-info i {
    color: #999999;
    font-weight: bold;
    font-size: 1rem;
}

.route-info .distance {
    margin-right: 10px;
}

.dashboard {
    overflow: hidden;
    width: 100%;
    background-color: #ecf0f1;
    color: #7f8c8d;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.dashboard .distance {
    float: left;
    width: 50%;
}

.dashboard .value {
    font-weight: 300;
    font-size: 2rem;
}

.dashboard .unit {
    font-weight: 300;
    font-size: .6rem;
    text-transform: uppercase;
}

.dashboard .duration {
    float: right;
    width: 50%;
}

.duration li {
    display: inline-block;
    margin-right: 5px;
}

.route-control {
    position: relative;
    margin-bottom: 20px;
}

.route-control a {
    text-decoration: none;
    color: #666666;
    font-size: 1.2rem;
}

.route-control .remove-route {
    position: absolute;
    right: 0;
    top: 0;
}

.route-tabs {
    position: absolute;
    width: 50px;
    right: 345px;
    top: 100px;
    z-index: 20;
    text-align: center;
    font-size: 1rem;
}

.route-tabs li {
    background-color: #eeeeee;
    margin: 5px 0;
    padding: 10px 0;
    border:1px solid #aaaaaa;
    border-radius: 5px 0 0 5px;
}

.route-tabs li:hover, .route-tabs li.active {
    background: #f39c12; /* Old browsers */
    background: -moz-linear-gradient(left,  #f39c12 0%, #ffffff 73%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f39c12), color-stop(73%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f39c12 0%,#ffffff 73%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f39c12 0%,#ffffff 73%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f39c12 0%,#ffffff 73%); /* IE10+ */
    background: linear-gradient(to right,  #f39c12 0%,#ffffff 73%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39c12', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    cursor: pointer;
    border:1px solid #f39c12;
    border-right: none;
}

.route-tabs a {
    text-decoration: none;
    color: #666666;
}

.edit-route-name input[type='text'] {
    border: none;
    font-size: 1rem;
    outline: none;
    padding-right: 50px;
    width: 100%;
    border-bottom: 1px solid;
}

header {
    font-family: 'Roboto', "open sans";
    font-weight: 100;
    font-size: 1.2rem;
    position: absolute;
    top: 60px;
    width: 300px;
    right: 50px;
    height: 40px;
    z-index: 20;
    text-align: right;
    background-color: #f39c12;
    color: #ffffff;
    padding: 10px;
    border-radius: 50px 0 0 0;
}