@import "variables";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body {
  font-family: $font-stack;
  font-weight: 300;
  background-color: $white;
  color: $black;
}

a {
  color: $dark-orange;
  text-decoration: none;

  &:hover {
    background-color: $dark-orange;
    color: $white;
  }
}

body {
  background-color: $light;
}

.app {
}

.route-plan {
  background-color: $white;
  color: $black;
  border-right: 1px solid $light-orange;

  .route-control {
    padding: $pad;
  }

  .view-route-name {
    position: relative;
    font-size: 1.4rem;
  }

  .edit-route-name {
    position: relative;
    font-size: 1.4rem;

    input[type='text'] {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $light-orange;
      font-size: 1.2rem;
    }

    .done {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .remove-route {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.dashboard {
  @include clearfix;
  padding: $pad;
  background-color: $light-orange;
  color: $dark;
  text-align: center;

  .value {
    font-size: 1.8rem;
  }
  .unit {
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  .distance {
    float: left;
    width: 30%;
  }

  .duration {
    float: right;
    width: 70%;
  }

  .duration li {
    display: inline-block;
    margin: 0 $pad/2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.route-map {
}

.route-tabs {

  .tab {
    font-size: .8rem;
    display: inline-block;
    cursor: pointer;
  }

  .tab.active,
  .tab:hover,
  .tab:focus {
    background-color: $white
  }
}

.actions li {
  display: inline-block;
  margin: 0 $pad/4;

  &:li:last-child {
    margin-right: 0;
  }
}

.way-points {
  padding: $pad;
}

.way-point-wrapper {
  margin-bottom: $pad;

  &:last-child {
    margin-bottom: 0;
  }
}

.way-point-info {
  margin-bottom: $pad;
  padding-left: 2*$pad;
  font-size: .8rem;
  opacity: .5;
  .distance {
    margin-right: $pad;
  }
}

.way-point {
  position: relative;
  .marker {
    position: absolute;
    cursor: pointer;
    &:hover,
    &.selected {
      color: $dark-orange;
    }
  }
  .viewing {
    margin-left: 2*$pad;

    .way-point-name {
      @include ellipsis;
      padding-right: 2*$pad + 10;
    }
    .actions {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .editing {
    position: relative;
    margin-left: 2*$pad;
    font-size: 1rem;

    input[type='text'] {
      font-size: 1rem;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $light-orange;
      padding-right: 2*$pad + 10;

      &:focus {
        outline: none;
      }
    }

    .done {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.place {
  background-color: $white;
  padding: $pad;

  h2 {
    @include ellipsis;
    font-size: 1.5rem;
    margin-bottom: $pad/2;
    margin-top: $pad/2;
    padding-right: $pad + ($pad/2);
  }

  address {
    font-size: .8rem;
    margin-bottom: $pad;
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: $pad/2;
  }

  .details {
    padding: $pad 0;
  }

  .search-terms {
    a {
      color: $dark;
      border-bottom: 1px solid $dark;
    }
    li {
      display: inline-block;
      margin-right: $pad/2;
      font-size: .9rem;
    }

    input[type='text'] {
      border: 0;
      border-bottom: 1px solid $light-orange;
      font-size: 1rem;
      widows: 100px;

      &:focus {
        outline: none;
      }
    }
  }

  .close-place {
    position: absolute;
    top: $pad;
    right: $pad;
    font-size: 2rem;
  }

}