@import "variables";

header {
  background-color: #F9F8E4;
  border-bottom: 2px solid #B58D2B;
  color: #B58D2B;
  font-weight: 300;
  padding: $pad;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;

    &:link, &:hover, &:visited, &:active {
      color: #B58D2B;
    }
  }

  h1 {
  }

  li {
    font-size: .8rem;
    display: inline-block;

    &:after {
      content: '/';
      margin: 2 * $pad;
    }

    &:last-child:after {
      display: none;
    }
  }
}