.routes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: 600px) {
  .routes {
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    margin: 100px 300px;
  }
}