@import "reset";
@import "icons";
@import "variables";
@import "text-input";
@import "app";
@import "app-bar";
@import "routes";
@import "route";
@import "route-info";
@import "waypoints";
@import "way-point-info";
@import "way-point-details";

body {
  background-color: #ECF0F1;
  font: 1em "Open Sans", Sans-Serif;
  color: #333333;
}

.app {

}

.app-name {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHRpdGxlLz48cGF0aCBkPSJNMjU2IDBDMTY3LjYzNCAwIDk2IDcxLjYzNCA5NiAxNjBjMCAxNjAgMTYwIDM1MiAxNjAgMzUyczE2MC0xOTIgMTYwLTM1MkM0MTYgNzEuNjM0IDM0NC4zNjUgMCAyNTYgMHptMCAyNThjLTU0LjEyNCAwLTk4LTQzLjg3Ni05OC05OHM0My44NzYtOTggOTgtOTggOTggNDMuODc2IDk4IDk4LTQzLjg3NiA5OC05OCA5OHptLTYyLTk4YzAtMzQuMjQyIDI3Ljc1OC02MiA2Mi02MnM2MiAyNy43NTggNjIgNjJjMCAzNC4yNDItMjcuNzYgNjItNjIgNjJzLTYyLTI3Ljc1OC02Mi02MnoiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 20px;
  padding-left: 25px;
}

.author {
  margin: $pad 0;
  font-size: .8rem;
  color: #aaaaaa;
  text-align: center;

  a {
    &:link, &:hover, &:visited, &:active {
      color: #aaaaaa;
    }
  }
}

.editable-text {

  .text-input input {
    width: 100%;
    border: none;
    font: 1rem "Open Sans", Sans-Serif;

    &:focus {
      outline: none;
    }
  }

  .text-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: margin-left .2s ease-in-out;

    &:hover {
      margin-left: 2 * $pad;
    }
  }

}

.routes .tabs {
  margin-bottom: 20px;

  li {
    display: inline-block;
    margin-right: $pad;
  }
}

.way-point {
  position: relative;
  padding-left: 30px;

  .way-point-name {
    padding-right: 50px;
    text-overflow: ellipsis;
  }

  .cta {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);

    a {
      text-align: center;
      border-bottom: none;
      margin-left: 2 * $pad;
      display: inline-block;
    }
  }
}

@media screen and (min-width: 600px) {
  ul.way-points {
    max-height: 700px;
    overflow: auto;
  }
}
