@import "reset";
@import "icons";

$pad: 10px;

body {
  background-color: #ffffff;
  font: 1em "Open Sans", Sans-Serif;
  color: #333333;
}

.editable-text {

  .text-input input {
    width: 100%;
    border: none;
    font: 1rem "Open Sans", Sans-Serif;

    &:focus {
      outline: none;
    }
  }

}

.routes .tabs {
  margin-bottom: 20px;

  li {
    display: inline-block;
    margin-right: $pad;
  }
}

.route .route-name {
  margin-bottom: $pad;
}

.route .route-info {
  height: 250px;
  background-color: #19B5FE;
  color: #ffffff;
  position: relative;
  font-weight: 300;
  overflow: hidden;
}

$size: 400px;

.route-info {
  .wrap-out {
    position: absolute;
    top: 50%;
    left: 50%;
    height: $size;
    width: $size;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .wrap-in {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  .distance {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2 * $pad;
    margin-bottom: 2 * $pad;

    .value {
      font-size: 2rem;
    }
  }

  .duration {
    li {
      display: inline-block;
      margin-right: 2 * $pad;

      &:last-child {
        margin-right: 0;
      }
    }
    .value {
      font-size: 2rem;
    }
  }

  .unit {
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2pt;
  }

}

$textColor: #333333;

.way-points {
  padding: $pad;

  a {
    text-decoration: none;
    border-bottom: 1px solid #19B5FE;
    &:link, &:hover, &:visited, &:active {
      color: $textColor;
    }
  }

  &.empty a {
    margin-left: 30px;
  }

  li {
    margin-bottom: 2 * $pad;
    position: relative;

    .way-point-icon {
      position: absolute;
      top:0;
      left: 0;
    }
  }

  .way-point-info {
    margin-top: 2 * $pad;
    margin-left: 4 * $pad;
  }
}

.way-point {
  position: relative;
  padding-left: 30px;

  .way-point-name {
    padding-right: 50px;
    text-overflow: ellipsis;
  }

  .cta {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);

    a {
      text-align: center;
      border-bottom: none;
      margin-left: 2 * $pad;
      display: inline-block;
    }
  }
}
